@font-face {
    font-family: prissy;
    src: url(../Assets/littlemisspriss-font/Littlemisspriss-LPlW.ttf)
}

@font-face {
    font-family: crayon;
    src: url(../Assets/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf)
}

body {
    font-family: prissy;
    background-color: lightskyblue;
    
}


nav {
    background-color: white;

}

.navbar-text {
    color: deeppink;
    font-family: prissy;
    text-align: center;
    /* font-weight: bold; */


}

.nav-link {
    color: deeppink;
    text-decoration: none;
    font-family: crayon;
    font-size: large;
    font-weight: bolder;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

h1 {
    color: deeppink;
    font-family: crayon;
    text-align: center;

}

p {
    color: deeppink;
    font-family: crayon;
    text-align: center;
    font-size: 16pt;
}

@media only screen and (max-width: 1200px) {
    .mx-auto {
        column-width: 100%;
        height: auto;
        margin-bottom: 50px;
    
    }